<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--
    <img  class="icono" src="assets/icon/registro.png">
    <br>
    <form [formGroup]="registrationForm" (ngSubmit)="ingresarUsuario()"> 
      <ion-item>
        <ion-label position="floating" style="text-align: center">Ingrese Correo Electrónico</ion-label>
        <ion-input formControlName="emailv" type="text" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.emailv">
        <ng-container *ngIf="registrationForm.get('emailv').hasError(error.type) && (emailv.dirty || emailv.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    <br>
    <ion-item>
      <ion-label position="floating" style="text-align: center">Ingrese Contraseña</ion-label>
      <ion-input formControlName="passv" type="password" name="contrasena" [(ngModel)]="pass"></ion-input>
      <div *ngFor="let error of errorMessages.passv">
        <ng-container *ngIf="passv.hasError(error.type) && (passv.dirty || passv.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </ion-item>
    <br>
    <ion-button [disabled]="!registrationForm.valid" expand="block" (click)="ingresarUsuario()" type="submit">Registrarse</ion-button>
    <br>
    <ion-button  expand="block"  routerLink="/login">Ingresar</ion-button>
    </form>
  -->
    
</ion-content>
