<ion-header>
  <ion-toolbar color="tertiary">
  <ion-title>Perfil</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="navigateArticulos()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-item *ngFor="let user of usersR"> 
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="user.urlimage">
        </ion-avatar>
        <ion-label>
          <h3>{{user.nombre}}</h3>
          <p>Dec 10, 2019</p>
        </ion-label>
      </ion-item>
    
      
      <ion-card-header>
        <ion-card-title>Hotel Panama Garden</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
